doctype html
html
  head
    title= 'Franquicias'
  body
    h1 Reportes
    p Inventario: #{stock}
    p Ventas: #{sales}
    p Unidades vendidas: #{sold_units}
    br

    a(href='/franquicia/home') Inicio
