doctype html
html
  head
    title= 'Franquicias'
  body
    h1 Auditoría
    - rules = ['']
    - for (var i = 0; i < employees.length; i++) 
        p #{i}
        -  for (var mand = 0; mand < 10; mand++)
        
