doctype html
html
  head
    title= 'Iniciar sesión'
  body
    h1 Login
    form(method='POST' action='/login')
        div.form-group
            label(for='user') Nombre:
            input#user.form-control(type='text', name='user')

        div.form-group
            label(for='password') Contraseña:
            input#password.form-control(type='password' name='password')

        div.form-group
            label(for='role') Rol:
            select(name='role')
                - roles = [ 'Franquiciado', 'Distribuidor', 'Master Franquicia', 'Plenia Locatel']
                each item in roles
                    option(value=item) #{item}

        button.btn.btn-primary(type='submit') Entrar