doctype html
html
  head
    title= 'Master'
  body
    h1 Inventarios
    each store in stores
        h2 Inventario #{store.name}
        each product in store.products
            p #{product.name} Cantidad: #{product.quantity} 

    a(href='/master/home') Inicio
