doctype html
html
  head
    title= 'Franquicias'
  body
    h1 Reportes
    each store in stores
        p Inventario: #{store.stock}
        p Ventas: #{store.sales}
        p Unidades vendidas: #{store.sold_units}
        br

    a(href='/master/home') Inicio
